# Folder
amelia/
falia/
balancing/
__pycache__/
eksperimen/
eksperimenv2/
eksperimen_wd/
eksperimen_wi/
eksperimen_wm/
data_augmented_new/
data_augmented_old/
test/
eksperimenv3/
ablation/
result/
log/


# File
eda-all.py
preprocessing.py
pronouns_success.py
extract_geojson.py
eda-copy.py
data2_.txt
bersihkan-sinonim.py
kata-duplikat.csv